@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.hide {
    display: none;
}

/** menu navegation */
.menu-navegation-top a:hover {
    text-decoration: none;
}

.menu-navegation-top {
    position: relative;
    top: 0px;
    background-color: #1a263d;
}

.menu-navegation-top .nav-link-account {
    font-weight: bolder;
}

.menu-navegation-top .nav-link-account:hover {
    opacity: 0.6;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    font-size: 15pt;
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    opacity: white;
}

.menu-navegation-top li a {
    color: white;
}

#img_index_main img {
    height: 400px;
    width: 100%;
}

.h1-title {
    font-size: 30pt;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

.h1-title:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.301);
}

/** end menu navegation */

/** footer */

.footer-template {
    background: #1a263d;
    color: white;
    padding: 50px;
}
.footer-template h1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.utility-footer .list-group-item{
    background: #1a263d;
    color: rgba(0, 0, 0, 0.863);
    font-weight: bolder;
}
.utility-footer .list-group a:hover {
    opacity: 0.2;
}

/** card news index */
.card-news{
    height: 300px;
    margin: 5px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background: white;
}
@media only screen and (max-width: 700px) {
    .card-news{
        height: 350px;
    }
}
.card-news a {
    color: black;
    background-color: transparent;
}
.card-news a:hover {
    text-decoration: none;
    opacity: 0.6;
}
.card-news-img-top {
    width: 100%;
    height: 170px;
    padding: 5px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-news-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-news-text:last-child {
    margin-bottom: 0;
    text-indent: 2em;
}
.card-news-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: .75rem;
}

/** card tourism index */

.card-tourism{
    margin: 5px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: rgba(255, 255, 255, 0.548);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 400px;
}
.card-tourism a {
    color: black;
    background-color: transparent;
}
.card-tourism a:hover {
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.6;
}
.card-tourism-img-top {
    width: 100%;
    padding: 5px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-tourism-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-tourism-text:last-child {
    margin-bottom: 0;
    text-indent: 2em;
}
.card-tourism-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: .75rem;
}

/*
    News index
*/
.title-card-news-index{
    padding: 20px;
    margin: 5px;
    background: #801419;
    border-radius: 10px;
}
.title-card-news-index h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: white;
}

/*
    All News
 */
.news-all-title {
    background: #801419;
    padding: 30px;
    margin: 10px;
}
.news-all-title h2 {
    color: white;
    font-size: 30pt;
    font-weight: bolder;
}

.news-all-news-image-main{
    margin: 20px;
    overflow: hidden;
}
.news-all-news-image-main a:link{
    text-decoration: none;
}
.news-all-news-image-main img {
    height: 450px;
    padding: 5px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.news-all-news-image-main-event:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    opacity: 0.8;
}
.news-all-news-image-main h3{
    position: relative;
    margin-top: -150px;
    padding: 10px;
    word-wrap:  break-word;
    font-size: 25pt;
    font-weight: bold;
    color: #fff;
}
.news-all-news-image-main h4{
    margin-top: 15px;
    position: relative;
    margin-bottom: -50px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
}

.news-all-news-seccondary .card{
    margin: 15px;
    height: 180px;
    width: 100%;
}
.news-all-news-seccondary .card a:link {
    text-decoration: none;
}
.news-all-news-seccondary .card img {
    width: 200px;
    height: 150px;
    margin: 10px 5px 10px 5px;
}
.news-all-news-seccondary .card h5 {
    position: relative;
    margin-top: -150px;
    margin-left: 220px;
    color: black;
}
.news-all-news-seccondary .card h3 {
    position: relative;
    margin-left: 220px;
    font-weight: bold;
    color: #1b1e21;
}
.news-all-news-third {
    margin: 15px;
}
.news-all-news-card-one .card {
    border: none;
    height: 250px;
    padding: 5px;
}
.news-all-news-card-one a:link {
    text-decoration: none;
}
.news-all-news-card-one img {
    width: 300px;
    height: 250px;
}
.news-all-news-card-one h5 {
    position: relative;
    margin-bottom: 15px;
    margin-top: -240px;
    margin-left: 310px;
    color: black;
}
.news-all-news-card-one h3 {
    position: relative;
    margin-left: 310px;
    color: #2b2b2b;
    font-weight: bold;
}

.news-all-news-card-two a:link {
    text-decoration: none;
}
.news-all-news-card-two .card {
    margin: 10px 0px 10px 0px;
}
.news-all-news-card-two img {
    width: 100px;
    height: 100px;
}
.news-all-news-card-two h5 {
    font-weight: bold;
    color: white;
}
.news-all-news-card-two p {
    font-weight: bold;
    position: relative;
    margin-top: -95px;
    margin-left: 110px;
    color: #2b2b2b;
}

    /*
        News id
    */
.news-selected{
    width: 100%;
    margin: 10px auto 10px auto;
}
.news-selected h1{
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 30pt;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.836);
}
.news-selected h2 {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 20pt;
    color: rgba(46, 44, 44, 0.836);
}
.news-selected img{
    margin-left: 20px;
    width: 95%;
    height: 30%;
}
.news-selected-text{
    text-indent: 3em;
    padding: 20px;
}
.news-selected span {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
}
#news-selected-span-two {
    display: none;
}
#news-selected-facebook{
    position: relative;
    left: 48%;
    margin: 5px;
}

/*
    Tourism index
*/

.title-card-tourism-index{
    padding: 20px;
    margin: 5px;
    background: #013a01;
    border-radius: 10px;
}
.title-card-tourism-index h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: white;
}

/**
    Tourism All
 */
.site-tourism-all-tourism-title {
    background: #019301;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}
.site-tourism-all-tourism-title h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: white;
    margin-right: 50px;
}

.site-tourism-all-tourism .card{
    margin-bottom: 25px;
}
.site-tourism-all-tourism .card .card-header{
    height: 100px;
}
.site-tourism-all-tourism a:link {
    text-decoration: none;
}
.site-tourism-all-tourism h3 {
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
    color: #1b1e21;
}
.site-tourism-all-tourism h5 {
    text-align: center;
}
.site-tourism-all-tourism img{
    width: 100%;
    height: 250px;
}

/*
    Tourism images modal
*/
.tourism-selected{
    margin: 10px;
}
.tourism-selected-card{
    padding: 20px;
    margin: 5px;
    background: #013a01;
    border-radius: 10px;
}
.tourism-selected h3{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    background: #013a01;
    color: white;
}

.tourism-selected p{
    text-indent: 2em;
}

/* Style the Image Used to Trigger the Modal */
.myImgTourism {
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .myImgTourism:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, .caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  /*
    Site Contact
    */

  .site-contact-title h1{
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40pt;
    box-shadow: 0px 0px 8px 2px #0000003b;
    -webkit-box-shadow: 0px 0px 8px 2px #0000003b;
    -moz-box-shadow: 0px 0px 8px 2px #0000003b;
    text-shadow: 0.1em 0.1em #333;
    -webkit-text-shadow: 0.1em 0.1em #333;
    -moz-text-shadow: 0.1em 0.1em #333;
    color: chocolate;
    margin: 10px;
    text-align: center;
  }
  .site-contact {
      margin: 30px;
  }

  /**
    Bus Time
    */
  .site-utility-bus-time-title h1{
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40pt;
    box-shadow: 0px 0px 8px 2px #0000003b;
    -webkit-box-shadow: 0px 0px 8px 2px #0000003b;
    -moz-box-shadow: 0px 0px 8px 2px #0000003b;
    text-shadow: 0.1em 0.1em #333;
    -webkit-text-shadow: 0.1em 0.1em #333;
    -moz-text-shadow: 0.1em 0.1em #333;
    color: chocolate;
    margin: 10px;
    text-align: center;
  }

  .site-utility-bus-time .card{
      margin: 10px;
  }
  .site-utility-bus-time h2{
      font-family: 'Ubuntu', 'sans-serif';
      font-weight: bold;
      text-align: center;
      margin: 20px 0px 20px 0px;
      color: chocolate;
  }

  /** site form login */
  .site-form-login-title {
      background: #1a263d;
      margin: 15px 0px 15px 0px;
      padding: 30px;
  }
  .site-form-login-title h1 {
      color: white;
      font-family: 'Ubuntu', 'sans-serif';
      text-align: center;
      font-weight: bold;
  }
  .site-form-login-desc {
    background: #1a263d;
    border-radius: 15px;
    width: 100%;
    margin: 10px 0px 15px 0px;
    height: 430px;
    color: white;
    text-align: center;
  }
  .site-form-login-desc h3 {
      font-family: 'Ubuntu', 'sans-serif';
      margin: 100px 0px 0px 0px;
  }
  .site-form-login {
      margin: auto auto 10px auto;
      background: #1a263d;
      border-radius: 15px;
  }
  .site-form-login label{
    color: white;
    margin: 5px;
    font-weight: bold;
  }
  .site-form-login p {
      color: white;
  }
  .site-form-login a:hover {
      text-decoration: none;
  }

  /** site register form */
  .site-register-form {
      background: #1a263d;
      border-radius: 15px;
      margin: 15px;
      padding: 20px;
  }
  .site-register-form label {
      color: white;
      font-weight: bold;
  }
  .site-register-form h1 {
      color: white;
      font-family: 'Ubuntu', 'sans-serif';
      font-weight: bold;
      padding: 30px;
  }
  .site-register-form h3 {
    color: white;
    font-family: 'Ubuntu', 'sans-serif';
    text-align: center;
    font-weight: bold;
  }
