@media only screen and (max-width: 700px) {

    .h1-title {
        font-size: 22pt;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        font-weight: bold;
        margin-right: 0px;
    }

    /**
        All News
     */
    .news-all-news-image-main img {
        height: 300px;
    }
    .news-all-news-image-main h3 {
        font-size: 20pt;
    }

    .news-all-news-seccondary .card {
        width: 98%;
    }
    .news-all-news-seccondary .card img{
        width: 170px;
    }
    .news-all-news-seccondary .card h5 {
        font-size: 10pt;
        margin-left: 185px;
    }
    .news-all-news-seccondary .card h3 {
        font-size: 14pt;
        margin-left: 195px;
    }

    .news-all-news-card-one img {
        width: 100%;
    }
    .news-all-news-card-one h5 {
        margin-left: 5px;
    }
    .news-all-news-card-one h3 {
        margin-left: 10px;
        font-size: 19pt;
    }

    /**
        news selected
        */
    .news-selected h1{
        font-size: 15pt;
        padding: 0px;
    }
    .news-selected h2{
        font-size: 12pt;
        margin-bottom: 20px;
    }
    .news-selected span {
        font-size: 10pt;
        margin: 0px;
    }
    #news-selected-facebook{
        left: 68%;
        bottom: 50%;
    }
    #news-selected-span-one{
        display: none;
    }
    #news-selected-span-two {
        display: initial;
    }
    .news-selected-text{
        text-indent: 3em;
        padding: 5px;
        font-size: 10pt;
    }

}
